* input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}


{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 1050px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #e3e6e4;
    border-radius: 70px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

body {
  background-color: rgb(244, 244, 249);
  color: rgb(65, 65, 65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.container {
  border-radius: 90px;
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
}
